:root {
  --color-pink: #F0CACB;
  --color-link: #020202;
  --color-red: #c0392f;
  --color-cream: #fdf3dd;
  --color-btn: #D88C96;
  
  --font-heading: "Kaushan Script", cursive;
  --font-body:"Bad Script", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-pink);
  color: var(--color-link);
  font-family: system-ui, sans-serif;
}
